/*
* @Author: eastpiger
* @Date:   2015-11-05 15:58:41
* @Last Modified by:   eastpiger
* @Last Modified time: 2016-10-20 13:31:33
*/
#article{
}
#article-title h2{
	margin-top: 40px;
	margin-bottom: 40px;
}
#article-content{
	line-height: 2em;
}
#article-content p{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}
#article-content img{
	max-width: 100%;
	height: auto;
	padding: 10px;
}
#article-content img[float="left"]{
	float: left;
}
#article-content img[float="right"]{
	float: right;
}

#article_date,
#article_thumbnail{
	display: none;
	background: rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
	overflow: hidden;
}
#article_date.edit_mode,
#article_thumbnail.edit_mode{
	display: block;
}
#article_date img,
#article_thumbnail img{
	max-width: 100%;
	height: auto;
}
#article_date_title,
#article_thumbnail_title{
	margin: -20px;
	padding: 20px 10px;
	text-align: center;
	background: rgba(0, 64, 152, 0.8);
	color: white;
}
