/*
* @Author: eastpiger
* @Date:   2015-11-05 15:58:41
* @Last Modified by:   eastpiger
* @Last Modified time: 2016-06-22 02:44:51
*/
#people_briefintro{
	display: none;
	background: rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
	overflow: hidden;
}
#people_briefintro.edit_mode{
	display: block;
}
#people_briefintro_title{
	margin: -20px;
	padding: 20px 10px;
	text-align: center;
	background: rgba(0, 64, 152, 0.8);
	color: white;
}
